.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px;
  grid-template-rows: 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px
  10px 10px 10px 10px 10px;
}

.pixel {
  border-style: solid;
  border-width: 1px;
}

.color {
  text-align: center;
  align-items: center;
}

h1 {
  text-align: center;
}